*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: skyblue;
  color: black;
}

html {
  background: linear-gradient(45deg, skyblue 0%, black 100%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

body {
  color: #f4f4f4;
  font-family: monospace, Arial, sans-serif;
}

body a {
  color: skyblue;
}

.App {
  background-color: #111;
  box-shadow: .1rem .6rem 1rem rgb(255, 248, 226);
  margin: 0 auto;
  margin-top: 3rem;
  padding: 4rem 0;
  width: 500px;
  height: auto;
  border-radius: 6px;
  border: 1px solid goldenrod;
  text-align: center;
  transition: all .3s;
}

.App img {
  background-color: #111;
  border-radius: 50%;
  border: 1px solid goldenrod;
  margin-top: .75rem;
  width: 110px;
  cursor: pointer;

  transition: all .3s;
}

.App img:hover {
  transform: translateY(-4px);
  box-shadow: 0 .2rem .4rem rgb(238, 189, 67);
}

.App img:active {
  transform: translateY(0px);
  box-shadow: 0 .1rem .2rem rgb(238, 189, 67);
}

#pokeBallImg {
  border: 1px solid white;
  border-radius: 50%;
  width: 50px;
  margin-left: 1rem;
  vertical-align: middle;
  animation: pokeBall 2.2s ease infinite;
}

.searchGroup {
  display: flex;
  flex-direction: column;
}

.searchGroup input {
  font-family: monospace;
  display: block;
  width: 100px;
  align-self: center;
  margin: .4rem 0;
  border: 1px solid transparent;
  transition: all .3s;
}

.searchGroup input:focus {
  outline: none;
  border: none;
  background-color: #333;
  color: #fff;
  width: 170px;
  border-bottom: 1px solid skyblue;
}

.errorInput {
  background-color: salmon !important;
  color: maroon !important;
  border: 1px solid rgb(255, 95, 95) !important;
}

.emptyInput {
  background-color: #333 !important;
  color: #fff !important;
  border-bottom: 1px solid skyblue !important;
}

.separator {
  margin: .4rem 0;
  width: 300px;
  align-self: center;
}

.gridStats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
  grid-row-gap: 1rem;
  grid-column-gap: 0rem;
  width: 280px;
  transition: all .3s;
}

.gridStats p {
  background-color: #111;
  box-shadow: 0 .1rem .2rem #fff;
  padding: 8px 8px;
  border-radius: 6px;
  font-size: 11.5px;
  cursor: pointer;
  transition: all .3s;
}

.gridStats p:hover {
  transform: translateY(-3px);
  box-shadow: 0 .3rem .5rem #fff;
}

.pokeData {
  color: skyblue;
}

.prevNextButtons {
  display: flex;
  justify-content: space-evenly;
}

.prevNextButtons button {
  font-size: 16px;
  padding: 0px 6px;
  padding-bottom: 2px;
  border-radius: 6px;
  border: none;
  background-color: steelblue;
  color: #fff;
  cursor: pointer;
  transition: all .25s;
}

.prevNextButtons button:hover {
  background-color: goldenrod;
}
.prevNextButtons button:active {
  color: black;
}

@keyframes pokeBall {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}